/* Universal Selector*/
*{
    margin:0px;
    padding:0px;
}
/* ID SELECTOR*/
#container{
    width:1280px;
    min-height:500px;
    margin:auto auto;
    background-color:aliceblue;
}
.col100{
    width:100%;
    min-height:10px;
}
.col75{
    width:70%;
    min-height:10px;
    float:left;
}
.col50{
    width:50%;
    min-height:10px;
    float:left;
}
.col25{
    width:25%;
    min-height:10px;
    float:left;
}
.clear{
    clear:all;
}
.row{
    min-height:5px;
}


#social{
    position:fixed;
    width:50px;
    min-height:150px;
    right:0px;
    top:150px;
    background-color: #ff0000;
}

#social ul{
    list-style-type: none;
}

#social ul li{
    color:#ffffff;
    font-size:20px;
    padding:5px;
}