{% extends 'base.html' %}
{% block main %}
<h1>User Dashboard</h1>

<p>Welcome, {{session.username}} <a href="{{ url_for('logout') }}">Logout</a>
    {% if profile %}
       
    <img src="{{ url_for('static', filename=profile.profile_picture) }}"
         width="60" height="60" style="border-radius:50%;">
    {% endif %}
    
    | <a href="{{ url_for('edit_profile') }}">Edit Profile</a> </p>
</p>
<!--

 # {{ url_for('static', filename='style.css') }}   
-->

{% endblock %}
{% block head %}
<title>HOme Pagesss</title>
{% endblock %}
