{% extends "base.html" %}
{%block head %}
<title>Main Mage</title>
<meta name="keywords" content="hotel booking, myhotel booking, uk hotels" >
<meta name="description" content="MY hotel booking sytem provides hasslefree booking for any customer for uk">
{% endblock %}


{%block main %}

    <h1>Home Page</h1>
    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit facere excepturi facilis, veritatis harum aspernatur, quidem maxime debitis id quasi ipsa neque aliquid officia. Ipsum atque architecto quia commodi eligendi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dolor minus velit recusandae deleniti suscipit adipisci officiis esse labore nesciunt, atque enim aspernatur voluptatum saepe. Atque repudiandae cumque voluptatem qui.</p>

{% endblock %}
